@model Event
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Event</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime"></label>
                        <input asp-for="StartTime" class="form-control">
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndTime"></label>
                        <input type="time" asp-for="EndTime" class="form-control">
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Venue"></label>
                        <textarea asp-for="Venue" class="form-control"></textarea>
                        <span asp-validation-for="Venue" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventDetail.Description"></label>
                        <input asp-for="EventDetail.Description" class="form-control">
                        <span asp-validation-for="EventDetail.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventDetail.DetailedVenue"></label>
                        <input asp-for="EventDetail.DetailedVenue" class="form-control">
                        <span asp-validation-for="EventDetail.DetailedVenue" class="text-danger"></span>
                    </div>

                    <div class="form-group " id="photoInput">
                        <label asp-for="Photo">Images</label>
                        <input asp-for="Photo" class="form-control" accept="image/*" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>category</label>
                        <select multiple class="form-control" name="spikersId" id="Category">

                            @foreach (Speaker item in ViewBag.Spikers)
                            {
                                if (Model.EventSpeakers.Any(x => x.SpeakerId == item.Id))
                                {

                                    <option selected value="@item.Id">@item.Name</option>

                                }
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group" id="CategoryInput">
                        <label>category</label>
                        <select multiple class="form-control" name="categoriesId" id="Category">

                            @foreach (Category item in ViewBag.categories)
                            {
                                if (Model.EventCategories.Any(x => x.CategoryId == item.Id))
                                {

                                    <option selected value="@item.Id">@item.Name</option>

                                }
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Create</button>
                    <a asp-action="Index" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

