
@{
    List<Course> courses = Model;
}
@foreach (var course in courses)
{
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="single-course mb-70">
            <div class="course-img">
                <a asp-action="Details" asp-route-id="@course.Id">
                    <img src="~/img/course/@course.Image" alt="course">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                <h3><a asp-action="Details" asp-route-id="@course.Id">@Html.Raw(course.Name)</a></h3>
                <p>@Html.Raw(course.Description)</p>
                <a class="default-btn" asp-action="Details" asp-route-id="@course.Id">read more</a>
            </div>
        </div>
    </div>
}
